# Node
node_modules/
package-lock.json

# Capacitor / Build
www/

# Android
android/.gradle/
android/local.properties
android/*/build/
android/.idea/
android/app/app-debug.apk
android/app/release/
android/captures/

# Logs
*.log

# Editor Directories
.vscode/
.idea/
